body {
    padding: 0;
    margin: 0;
    font-family: $Encode;
    background: $white;
    height: 100%;
    width: 100%;

    a {
        color: $white;
        font-weight: 300;
    }
}

header {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
    margin-top: 0;
    display: inline-block;
    width: 100%;
    height: auto;

    &:before {
        content: "";
        position: absolute;
        background-image: url("../../static/images/bg-header.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        left: 50%;
        top: 0;
        @include transform(translate(-50%, 0));
    }

    .top-menu {
        nav {
            margin-top: 90px;
            margin-bottom: 90px;

            a.logo {
                img {
                    position: relative;
                    display: block;
                    max-height: 16px;
                    width: auto;
                }
            }

            .menu-list {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        a {
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;
                            padding: 10px 20px;
                            font-weight: 300;
                            color: $white;
                            @include border-radius(250px);

                            &.download {
                                background: $PurpleButton;
                                @include box-shadow(0px 32px 18px 0px rgba(0,51,73,0.18));
                            }
                        }
                    }
                }
            }
        }
    }

    .content {
        .grid {
            display: grid;
            padding-top: 140px;
            padding-bottom: 140px;
            grid-column-gap: 15px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-items: center;

            .item-left {
                grid-area: 1 / 1;

                h2 {
                    font-size: 28px;
                    line-height: 32px;
                    text-align: center;
                    font-family: $Encode;
                    font-weight: 500;
                    color: $white;
                }

                p {
                    font-size: 18px;
                    line-height: 20px;
                    text-align: center;
                    font-family: $Encode;
                    font-weight: 300;
                    color: $white;
                }
            }

            .item-right {
                grid-area: 1 / 2;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

section {
    .cards-primary {
        ul.card-list {
            display: flex;
            justify-content: space-between;

            li.card-item {
                flex: 1;
                display: block;
                margin: 10px 25px;
                position: relative;
                padding: 30px;
                @include box-shadow(0px 20px 140px 0px rgba(0,51,73,0.20));
                @include transition(all .3s ease-in-out);
                @include box-sizing(border-box);
                @include border-radius(35px);

                img {
                    max-width: 32px;
                    max-height: 32px;
                    display: block;
                }

                h4 {
                    display: block;
                    color: $PurpleBlue;
                    opacity: .9;
                    font-size: 21px;
                    line-height: 26px;
                    font-weight: 600;
                    padding: 10px 0;
                    @include transition(all .3s ease-in-out);
                }

                p {
                    display: block;
                    color: $PurpleBlue;
                    opacity: .8;
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 300;
                    padding: 10px 0 15px;
                    @include transition(all .3s ease-in-out);
                }

                a {
                    z-index: -1;
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 100%;
                    visibility: hidden;
                    opacity: 0;
                    color: $PurpleBlue;
                    font-size: 0;
                    line-height: 0;
                    font-weight: 500;
                    padding: 0;
                    left: 0;
                    right: 0;
                    @include transition(all .3s ease-in-out);
                }

                &:hover {
                    @include border-radius(35px 35px 0 0);

                    h4, p {
                        opacity: 1;
                    }

                    a {
                        z-index: 1;
                        background: white;
                        width: 100%;
                        height: auto;
                        top: 100%;
                        bottom: -48px;
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        font-size: 16px;
                        line-height: 18px;
                        padding: 15px 30px 10px;
                        @include border-radius(0 0 35px 35px);
                        @include box-sizing(border-box);
                    }
                }
            }
        }
    }

    .box {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 120px;
        padding: 40px 60px;
        background: rgb(50,37,116);
        background: linear-gradient(145deg, rgba(50,37,116,1) 0%, rgba(97,46,176,1) 75%, rgba(134,46,219,1) 100%);
        @include border-radius(50px);
        @include box-sizing(border-box);

        h3 {
            font-size: 32px;
            line-height: 40px;
            font-family: $Encode;
            font-weight: 500;
            color: $white;
        }

        p {
            max-width: 445px;
            font-size: 22px;
            line-height: 26px;
            font-family: $Encode;
            font-weight: 400;
            color: $white;
        }

        a.download {
            width: 170px;
            height: 18px;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            margin: 0 auto;
            padding: 10px 20px;
            font-weight: 400;
            color: $buttontext;
            background: $white;
            @include border-radius(250px);
            @include box-shadow(0px 32px 18px 0px rgba(0, 50, 71, 0.21));
        }
    }
}

footer {
    position: relative;
    margin-top: 40px;
    margin-bottom: 90px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: -40px;
        height: 3px;
        width: 100%;
        background-color:rgba(127, 53, 205, 0.35);
        @include transform(translate(-50%, 0));
        @include border-radius(250px);
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }

    .googleplay, .appstore {
        display: inline-block;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        &.copy {
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 18px;
            font-size: 16px;
            font-weight: 500;
            font-family: $Encode;
            color: $copycolor;
        }
    }

    ul {
        &.menu-footer {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        li {
            &.item-lista {
                padding: 5px 10px;
                margin: 5px 20px;
                font-family: $Encode;
                font-size: 16px;
                line-height: 18px;
                font-weight: 500;
                color: $copycolor;

                &:first-child {
                    font-size: 20px;
                    margin: 5px 20px 10px;
                    line-height: 24px;
                    color: $PurpleTitleFooter;
                }
            }
        }
    }
}
